In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["columns1","columns2","columns3","columns4"])

In [6]:
df

      columns1  columns2  columns3  columns4
row1         0         1         2         3
row2         4         5         6         7
row3         8         9        10        11
row4        12        13        14        15
row5        16        17        18        19

In [7]:
df.to_csv("test1.csv")

In [11]:
## accessing the element
### 1 ->>>  .loc
### 2->>>  .iloc
df.loc["row1"]

columns1    0
columns2    1
columns3    2
columns4    3
Name: row1, dtype: int32

In [12]:
type(df.loc["row1"])

pandas.core.series.Series

In [18]:
df.iloc[:,:]

      columns1  columns2  columns3  columns4
row1         0         1         2         3
row2         4         5         6         7
row3         8         9        10        11
row4        12        13        14        15
row5        16        17        18        19

In [20]:
type(df.iloc[1:5,0:3])

pandas.core.frame.DataFrame

In [21]:
df.isnull().sum()

columns1    0
columns2    0
columns3    0
columns4    0
dtype: int64